<div class="home-col box-with-photo">
  <h2 class="roboto">Sports Medicine</h2>

  <div class="box-within">
    <p>
    It’s a long season. Stay in the game kickoff to playoff.
    </p> 
    <%= link_to "Find out how", page_path("sports-medicine-services"), class: "green-link green-link-centered" %>
  </div>
</div>
