<div class="home-box with-header" style="padding-bottom: .8em">
  <h2 class="roboto">Patient Portal</h2>
  <p class="tight">
  Access your patient records<br>and information 24/7.
  </p>
  <%= link_to "Learn more and create an account",  
    page_path('what-is-nextmd'),
    class: "green-link green-link-centered" %>
</div>
