<% unless @jobs.empty? %>
<h2>Job Openings</h2>

<ol style="padding-left: 1.5em;">
<% @jobs.each do |job| %>
  <li><b><%= link_to job.name, new_job_application_path(job_id: job.id) %></b> <%= job.description %></li>
<% end %>
</ol>
<% end %>
