<ul class="dashboard-list">
  <li><%= link_to 'Clinical Trials', page_path('clinical-trials') %>
    <ul>
      <li><%= link_to 'Altoona', page_path('altoona') %></li>
      <li><%= link_to 'State College', page_path('state-college') %></li>
    </ul>
  </li>
</ul>
