<div class="mobile-home-box">
  <h2>Reviews &amp; Testimonials</h2>
  <p>Read our patient’s comeback stories or write your own review.</p>
  <%= link_to "Get started", page_path("submit-review"), class: "green-link green-link-centered" %>
</div>
