<div class="mobile-home-box">
  <h2>Patient Portal</h2>
  <p>
  Access your patient records and information 24/7.
  </p>
  <%= link_to "Learn more and create an account",  
    page_path('what-is-nextmd'),
    class: "green-link green-link-centered" %>
</div>
