<div class="main-content-wide">
<h1>Dashboard</h1>

<ul class="dashboard-list">
  <li><%= link_to "Experts", experts_path %></li>
  <li><%= link_to "Appointment Requests", appointments_path %></li>
  <li><%= link_to "Referrals", referrals_path %></li>
</ul>

</div>
