$dark-blue: #1c3569;
$light-blue: #495d87;
$credits-blue: #15284f;
$footer-font: #c6dce8;
$tagline-gray: #ababab;
$gold: #c79536;
$green-link: #2e5e20;
$orange: #f26c4f;

$nav-gradient-light: #ffc259;
$nav-gradient-dark: #8f6712;
$active-link: #7a5810;
$portal-gradient-light: #6495fb;

$expert-drop-light: lighten(gray, 30%);
$expert-drop-dark: lighten(gray, 15%);


$main-content-gradient-gray: #cecfd1;
$site-gradient-gray: #adafb2;
$light-gray: #ebebeb;

$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$odd: #eeeeee;
$even: #f6f6f6;
$yellow: #f9a410;
$green: #179302;
