@import "colors";

.results {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;

  th { 
    background-color: white;
    text-align: left;
    padding: .5em;
    border-bottom: 1px solid black;
  }

  tr {
    background-color: $odd;
    &.even { background-color: $even; } 
    &.odd { background-color: $odd; } 

    td {
      padding: .5em;
      border-bottom: 2px solid white;
    }
  }
}

.review-list {
  font-size: .9em;
}


.expert-thumb { width: 60px; }


.dashboard-list {
  list-style: none;
  width: 70%;

  li {
    margin-bottom: 1em;

    a {
      display: block;
      color: white;
      text-decoration: none;
      background-color: $light-blue;
      border-radius: 4px;
      padding: .5em;
      font-weight: bold;
      font-size: 1.2em;
      &:hover { background-color: $dark-blue; }
    }


    ul {
      margin: .4em 0 1em 1em;
      list-style: none;

      li {
        margin-bottom: .2em;
        padding-left: 1em;
        a {
          font-size: 1em;
          font-weight: normal;
          padding: .3em .5em;
          background-color: lighten($light-blue, 15%);
        }
      }
    }
  }
}

.clinical-trials {
  li {
    a {
      width: 90%;
      display: inline-block;
    }

    a.edit-link {
      width: 8%;
      display: inline-block;
      float: right;
      background-color: white;
      color: $dark-blue;
      font-size: 1em;
      &:hover { color: $light-blue; }
    }
  }
}


.admin-navigation {
  max-width: 58.75em;  // 940/16
  margin: auto;
  background-color: $light-blue;
  border-top: 1px solid white;

  ul {
    float: left;
    list-style: none;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-decoration: none;
        background-color: $light-blue;
        padding: .4em 1em;
        border-right: 1px solid white;
        &:hover { background-color: $dark-blue; }
      }
    }
  }

  p {
    color: white;
    float: right;
    margin: 0;
    padding: .5em .5em 0 0;
    font-size: .9em;

    a { color: white; }
  }
}

.admin-link-group {
  margin-bottom: .5em;

  a {
    display: block;
    float: left;
  }
}
