@import 'colors';

.appointment-list {
  border-bottom: 1px solid $dark-blue;
  border-top: 1px solid $dark-blue;
  background-color: $light-gray;
  margin-bottom: 1em;
  padding: 1em;
  p {
    margin-bottom: .3em;
  }
}

.appointment-data {
  border: 1px solid $dark-blue;
  background-color: white;
  width: 80%;

  td {
    padding: .2em 1em;
    width: 30%;
    &:first-child { 
      font-style: italic; 
    }
  }

}
