@import 'colors';

form {
  margin: 1.5em 0;
}

.form-row {
  width: 100%;
  margin-bottom: .8em;
  overflow: hidden;
}

.half-row {
  width: 50%;
  float: left;
}

.quarter-row {
  width: 25%;
  float: left;
  padding-right: 1em;
  &:last-child { padding-right: 0; }
}

.small-row {
  width: 16%;
  float: left;
  padding-right: 1em;
  &:last-child { padding-right: 0; }
}

.double-small-row {
  width: 34%;
  float: left;
  padding-right: 1em;
  &:last-child { padding-right: 0; }
}

.with-gutter {
  padding-left: 1em;
}

.with-top-padding {
  padding-top: 1.5em;
}

.opt {
  font-size: .8em;
  font-style: italic;
  margin-bottom: 0;
}

label {
  display: block;
  margin-bottom: .3em;
}

label.inline { 
  display: inline-block;
  margin: 0 1.5em 0 .2em;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  font-size: 1em;
  padding: .2em;
  border: 1px solid gray;
  margin-bottom: .2em;
}

textarea {
  height: 10em;
}

select {
  background-color: #f3f3f3;
  border: 1px solid gray;
  font-size: 1.2em;
  padding: .4em;
  width: 100%;
}


/* ERRORS */

section#errors {
  margin: 1em 0;
  padding: 1em;
  background: $errors-background-color;

  h2 {
    color: $errors-text-color;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }

  ul { list-style: none; }
}

div.field_with_errors {
  display: inline;
  label {
    color: $errors-text-color;
  }
  input, textarea, select {
    background: $errors-background-color;
  }
}
