@import "colors";

.news-block {
  margin-bottom: 1.5em;
  border-bottom: 1px solid gray;
  margin-right: 1.5em;
  &:last-child { border-bottom: none; }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: black;
    padding-bottom: .4em;
    padding-left: 0;
    margin: .1em 0;
    border-bottom: none;
    a {
      &:hover { color: $active-link; }
    }
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: .9em;
    color: gray;
    margin-bottom: .5em;
    border-bottom: none;
  }

  p {
    margin-bottom: .6em;
  }

  .more {
    display: block;
    margin-bottom: .6em;
    &:hover { color: $active-link; }
  }
}

.apple-pagination {
  margin-right: 1.5em;

  .pagination {

  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;

  a, span {
    padding: 0.2em 0.3em;
  }

  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#f1f1f1, 20);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline
    }
  }
}
}
