@import "colors";

.news-block {
  margin-bottom: 1.5em;
  border-bottom: 1px solid gray;
  &:last-child { border-bottom: none; }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: black;
    padding-bottom: .4em;
    padding-left: 0;
    margin: .1em 0;
    border-bottom: none;
    a {
      &:hover { color: $active-link; }
    }
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: .9em;
    color: gray;
    margin-bottom: .5em;
    border-bottom: none;
  }

  p {
    margin-bottom: .6em;
  }

  .more {
    display: block;
    margin-bottom: .6em;
    &:hover { color: $active-link; }
  }
}

