@import 'colors';

ul.why-nextmd {
  li { margin-bottom: 1em; }
}

.history-table {
  border-collapse: collapse;
  margin-bottom: 2em;

  td { 
    padding: 1em; 
    border: 1px solid $dark-blue;
  }
  .year {
    font-weight: bold;
  }
}


// sports logos
.sports-logos-row {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;

  img {
    display: inline-block;
  }
}

#sl1 { margin-right: 72px; }
#sl2 { margin-right: 77px; }
#sl4, #sl5 { margin-right: 42px; }
#sl6 { margin-right: 79px; }
#sl8, #sl9 { margin-right: 79px; }
#sl10 { margin-right: 86px; }

.small {
  font-size: .8em;
  font-style: italic;
  display: block;
}

// hidden fields for spam
.form_address { display: none }
.town { display: none }

.with-children {
  background-image: image-url('right_menu_arrow.png');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  &:hover {
    background-image: image-url('down_menu_arrow.png');
  }
}

.with-children-open {
  background-image: image-url('down_menu_arrow.png');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.white-link {
  color: white;
  text-decoration: none;
  padding-bottom: 0;
  &:hover { color: $dark-blue; }
}
