// Let box-sizing be inherited from html:
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Reset all margins and paddings to 0:
* { margin: 0; padding: 0; }

// Reset font weight to normal for all headings: 
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

// Reset border for images and fieldsets to 0:
img, fieldset { border: 0; }

// Reset images max-width to 100% for responsive web design.
// Also, the vertical-align property removes unwanted space below inline images:
img { max-width: 100%; vertical-align: middle; }

// Set the cursor to pointer for submitting forms with a button tag:
button { cursor: pointer; }
input[type="submit"] { cursor: pointer; }
