<nav class="side-navigation">
  <h2 class="roboto">News</h2>
</nav>


<div class="main-content">
<% @news.each do |news| %>
  <div class="news-block">
  <h2><%= news.title %></h2>
  <h3><%= news.created_at %></h3>
  <%= news.body.html_safe unless news.body.nil? %>
  </div>

<% end %>
</div>
