<header class="site-header">
  <%= link_to(image_tag("logo.png"), root_path, class: "logo") %>

  <div class="tagline">
    Lorem ipsum dolor sit amet,<br>
    <span class="second-line">consectetur adipisit dictum.</span>
  </div>

  <div class="call roboto">
    <h3>Call Us (814) 942-1166</h3>
    <%= link_to "Make an appointment", new_appointment_path, class: "make-appt" %>
    <%= link_to "Pay bill online", 
      "https://www.nextmd.com/ud2/Login/Login.aspx", class: "pay-bill",
      target: "_blank" %>
  </div>
</header>
