<div class="top-links-outer">
  <div class="top-links">
    <ul class="roboto">
      <li><%= link_to "Home", root_path %> &nbsp;&nbsp;|</li>
      <li><%= link_to "About", page_path('about') %> &nbsp;&nbsp;|</li>
      <li><%= link_to "Careers", page_path('careers') %> &nbsp;&nbsp;|</li>
      <li><%= link_to "News &amp; Blog".html_safe, news_releases_path %> </li>
    </ul>
  </div>
</div>
